<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
</head>
<body>
    <div id="pastebook-nav-bar">
        @{Html.RenderAction("GetPastebookNavBar", "Home");}
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pastebook</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalunobs")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("reload", required: false);
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    var getNavBarUrl = '@Url.Action("GetPastebookNavBar", "Home")';
    var searchURL = '@Url.Action("Search", "Pastebook")';
    var getLikesURL = '@Url.Action("GetLikes", "Reaction")';

</script>

<script src="~/Scripts/PastebookScripts/pastebookScript.js"> </script>


