@model IEnumerable<PastebookEF.PASTEBOOK_NOTIFICATION>


@foreach (var notification in Model)
{
<div class="row">
    @if (notification.SENDER_ID != (int)Session["UserId"])
    {
        <div class="col-md-4">
        @if (notification.PASTEBOOK_USER1.PROFILE_PIC == null)
            {
            <img src="@Url.Content("~/Content/Images/pastebook-default.png")" id="sender-prof-pic" alt=@notification.PASTEBOOK_USER1.FIRST_NAME @notification.PASTEBOOK_USER1.LAST_NAME>
        }

        else
        {
            var base64 = Convert.ToBase64String(notification.PASTEBOOK_USER1.PROFILE_PIC);
            var imgSrc = String.Format("data:image/png;base64,{0}", base64);

            <img src=@imgSrc id="sender-prof-pic" alt=@notification.PASTEBOOK_USER1.FIRST_NAME @notification.PASTEBOOK_USER1.LAST_NAME>
        }
        </div>

        if (notification.NOTIF_TYPE == "L" && notification.PASTEBOOK_POST.PROFILE_OWNER_ID == (int)Session["UserId"] && notification.SENDER_ID != (int)Session["UserId"])
        {
            <div class="notification-listitem col-md-7">
                @Html.ActionLink(notification.PASTEBOOK_USER1.FIRST_NAME + " " + notification.PASTEBOOK_USER1.LAST_NAME, "UserProfile", "Pastebook", new { username = notification.PASTEBOOK_USER1.USER_NAME }, null) liked a @Html.ActionLink("post", "Posts", "Pastebook", new { postId = notification.POST_ID }, null) you posted.
            </div>
        }

        if (notification.NOTIF_TYPE == "C" && notification.PASTEBOOK_POST.PROFILE_OWNER_ID == (int)Session["UserId"] && notification.SENDER_ID != (int)Session["UserId"])
        {
            <div class="notification-listitem col-md-7">
                @Html.ActionLink(notification.PASTEBOOK_USER1.FIRST_NAME + " " + notification.PASTEBOOK_USER1.LAST_NAME, "UserProfile", "Pastebook", new { username = notification.PASTEBOOK_USER1.USER_NAME }, null) commented on a @Html.ActionLink("post", "Posts", "Pastebook", new { postId = notification.POST_ID }, null) you posted.
            </div>
        }


        if (notification.NOTIF_TYPE == "F" && notification.SENDER_ID != (int)Session["UserId"])
        {
            <div class="notification-listitem col-md-7">
            @Html.ActionLink(notification.PASTEBOOK_USER1.FIRST_NAME + " " + notification.PASTEBOOK_USER1.LAST_NAME, "UserProfile", "Pastebook", new { username = notification.PASTEBOOK_USER1.USER_NAME }, null) accepted your friend request.
            </div>
        }
    }
</div>
}
