@model IEnumerable<PastebookEF.PASTEBOOK_NOTIFICATION>


<span class="glyphicon glyphicon-bell icon" id="notifications" data-toggle="dropdown">
</span>

@if (Model.Where(x => x.SEEN == "N").Where(x => x.RECEIVER_ID == (int)Session["UserId"]).Where(x => x.PASTEBOOK_USER1.ID != (int)Session["UserId"]).Count() > 0)
{
    <span class="badge badge-notify" id="other-notification" data-toggle="dropdown"> @Model.Where(x => x.SEEN == "N").Where(x => x.RECEIVER_ID == (int)Session["UserId"]).Where(x => x.PASTEBOOK_USER1.ID != (int)Session["UserId"]).Count() </span>
}

<div class="dropdown-menu" aria-labelledby="notifications">
    @if (Model.Count() < 0 || Model.All(x => x.SEEN == "Y"))
    {
        <div class="notification-listitem">No notification.</div>
    }

    else
    {
        foreach (var notification in Model)
        {
            <div class="row">
            @if (notification.SENDER_ID != (int)Session["UserId"])
            {
                <div class="col-md-4">
                @if (notification.PASTEBOOK_USER1.PROFILE_PIC == null)
                {
                    <img src="~/Content/Images/pastebook-default.png" id="sender-prof-pic" alt=@notification.PASTEBOOK_USER1.FIRST_NAME @notification.PASTEBOOK_USER1.LAST_NAME>
                }

                else
                {
                    var base64 = Convert.ToBase64String(notification.PASTEBOOK_USER1.PROFILE_PIC);
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);

                    <img src=@imgSrc id="sender-prof-pic" alt=@notification.PASTEBOOK_USER1.FIRST_NAME @notification.PASTEBOOK_USER1.LAST_NAME>
                }
                </div>

                if (notification.SEEN == "N" && notification.NOTIF_TYPE == "L" && notification.PASTEBOOK_POST.PROFILE_OWNER_ID == (int)Session["UserId"] && notification.SENDER_ID != (int)Session["UserId"])
                {
                    <div class="notification-listitem col-md-7">

                        @Html.ActionLink(notification.PASTEBOOK_USER1.FIRST_NAME + " " + notification.PASTEBOOK_USER1.LAST_NAME, "Index", "Pastebook", new { username = notification.PASTEBOOK_USER1.USER_NAME }, null) liked a post in your timeline.
                    </div>
                }

                else if (notification.SEEN == "N" && notification.NOTIF_TYPE == "L" && notification.PASTEBOOK_POST.POSTER_ID == (int)Session["UserId"] && notification.SENDER_ID != (int)Session["UserId"])
                {
                    <div class="notification-listitem col-md-7">

                        @Html.ActionLink(notification.PASTEBOOK_USER1.FIRST_NAME + " " + notification.PASTEBOOK_USER1.LAST_NAME, "Index", "Pastebook", new { username = notification.PASTEBOOK_USER1.USER_NAME }, null) liked a post you posted.
                    </div>
                }

                if (notification.SEEN == "N" && notification.NOTIF_TYPE == "C" && notification.PASTEBOOK_POST.PROFILE_OWNER_ID == (int)Session["UserId"] && notification.SENDER_ID != (int)Session["UserId"])
                {
                    <div class="notification-listitem col-md-7">

                        @Html.ActionLink(notification.PASTEBOOK_USER1.FIRST_NAME + " " + notification.PASTEBOOK_USER1.LAST_NAME, "Index", "Pastebook", new { username = notification.PASTEBOOK_USER1.USER_NAME }, null) commented on a post in your timeline.
                    </div>
                }


                else if (notification.SEEN == "N" && notification.NOTIF_TYPE == "C" && notification.PASTEBOOK_POST.POSTER_ID == (int)Session["UserId"] && notification.SENDER_ID != (int)Session["UserId"])
                {
                    <div class="notification-listitem col-md-7">
                        @Html.ActionLink(notification.PASTEBOOK_USER1.FIRST_NAME + " " + notification.PASTEBOOK_USER1.LAST_NAME, "Index", "Pastebook", new { username = notification.PASTEBOOK_USER1.USER_NAME }, null) commented on a post you posted.
                    </div>
                }

                if (notification.SEEN == "N" && notification.NOTIF_TYPE == "F" && notification.SENDER_ID != (int)Session["UserId"])
                {
                    <div class="notification-listitem col-md-7">
                        @Html.ActionLink(notification.PASTEBOOK_USER1.FIRST_NAME + " " + notification.PASTEBOOK_USER1.LAST_NAME, "Index", "Pastebook", new { username = notification.PASTEBOOK_USER1.USER_NAME }, null) accepted your friend request.
                    </div>
                }

                if (notification.SEEN == "N" && notification.NOTIF_TYPE == "P" && notification.SENDER_ID != (int)Session["UserId"])
                {
                    <div class="notification-listitem col-md-7">
                        @Html.ActionLink(notification.PASTEBOOK_USER1.FIRST_NAME + " " + notification.PASTEBOOK_USER1.LAST_NAME, "Profile", "Pastebook", new { username = notification.PASTEBOOK_USER1.USER_NAME }, null) posted on your timeline.
                    </div>
                }

                }
            </div>
        }
    }
</div>

