@model Pastebook.Models.SearchModel

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        
        @using (Html.BeginForm("Search", "Pastebook", FormMethod.Post, new { @class = "form-inline" }))
        { 
            <span class="col-md-1"><img src="~/Content/Images/logo-black.png" id="logo-icon"></span>
                if (Session["UserFullname"] != null)
                {
                    <span class="col-md-3" id="searchBar">
                        <span class="input-group">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-sm", id = "textboxSearch", type = "text", placeholder = "search" })
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="submit" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </span>
                    </span>
                }

            <div class="pull-right">
                <div class="btn-group">
                    <a href="@Url.Action("Index", "Home")">
                        <span class="glyphicon glyphicon-home icon"></span>
                    </a>
                </div>
                @if (Session["UserFullname"] != null)
                {
                    <div class="btn-group" id="pastebook-nav-bar-friendRequests">
                        @{Html.RenderAction("GetFriendRequests", "Reaction");}
                    </div>

                    <div class="btn-group" id="pastebook-nav-bar-notification">
                        @{Html.RenderAction("GetNotifications", "Reaction");}
                    </div>

                    <div class="btn-group" id="pastebook-nav-bar-settings">
                        <span class="glyphicon glyphicon-cog icon" id="settings" data-toggle="dropdown">
                        </span>

                        <div class="dropdown-menu" aria-labelledby="settings">
                            <div class="settings-listitem">@Html.ActionLink("Update Information", "UpdateInformation", "Profile")</div>
                            <div class="settings-listitem">@Html.ActionLink("Update Email", "UpdateEmail", "Profile")</div>
                            <div class="settings-listitem">@Html.ActionLink("Change Password", "ChangePassword", "Profile")</div>
                        </div>
                    </div>

                    <div class="btn-group" id="profile-link">
                        <span>
                            @Html.ActionLink(Session["UserFullname"].ToString(), "Index", "Pastebook", new { username = Session["Username"].ToString() }, null)
                        </span>
                    </div>

                    <div class="btn-group" id="logout-link">
                        @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "link" })
                    </div>
                }
            </div>
        }
    </div>
</div>


