@model Pastebook.Models.SearchModel

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        
        @using (Html.BeginForm("Search", "Pastebook", FormMethod.Post, new { @class = "form-inline" }))
        { 
            <span class="col-md-1"><a href="@Url.Action("Index", "Pastebook")"><img src="@Url.Content("~/Content/Images/logo-gray.png")" id="logo-icon"></a></span>
                if (Session["UserFullname"] != null)
                {
                    <span class="col-md-3" id="searchBar">
                        <span class="input-group">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-sm", id = "textboxSearch", type = "text", placeholder = "search" })
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="submit" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </span>
                    </span>
                }

            <div class="pull-right">
                <div class="btn-group">
                    <a href="@Url.Action("Index", "Pastebook")">
                        <span class="glyphicon glyphicon-home icon"></span>
                    </a>
                </div>
                @if (Session["UserFullname"] != null)
                {
                    <div class="btn-group" id="pastebook-nav-bar-friendRequests">
                        @{Html.RenderAction("GetFriendRequests", "Interaction");}
                    </div>

                    <div class="btn-group" id="pastebook-nav-bar-notification">
                        @{Html.RenderAction("GetNotifications", "Interaction");}
                    </div>

                    <div class="btn-group">
                        <button  id="user-option" class = "icon btn btn-xs btn-default" data-toggle="dropdown">
                            @Session["UserFullname"].ToString()
                        <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="user-option">
                            <li class="profile-listitem">@Html.ActionLink("View Profile", "UserProfile", "Pastebook", new { username = Session["Username"].ToString() }, null)</li>
                            <li class="divider" />
                            <li class="profile-listitem">@Html.ActionLink("Update Email", "UpdateEmail", "Profile")</li>
                            <li class="profile-listitem">@Html.ActionLink("Change Password", "ChangePassword", "Profile")</li>
                            <li class="profile-listitem">@Html.ActionLink("Update Information", "UpdateInformation", "Profile")</li>
                            <li class="divider"/>
                            <li class="profile-listitem">@Html.ActionLink("Logout", "Logout", "Pastebook", null, new { @class = "link" })</li>
                        </ul>
                    </div>

                }
            </div>
        }
    </div>
</div>


