@model Pastebook.Models.SearchModel

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        
        @using (Html.BeginForm("Search", "Pastebook", FormMethod.Post, new { @class = "form-inline" , id="searchForm"}))
        { 
            <span class="col-md-1"><a href="@Url.Action("Index", "Pastebook")"><img src="@Url.Content("~/Content/Images/logo-gray.png")" id="logo-icon"></a></span>
                if (Session["UserFullname"] != null)
                {
                    <span class="col-md-3" id="searchBar">
                        <span class="input-group">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-sm", id = "textboxSearch", type = "text", placeholder = "search" })
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="submit" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </span>
                    </span>
                }

            <div class="pull-right">

                <div class="btn-group">
                    <a href="@Url.Action("Index", "Pastebook")">
                        <span class="glyphicon glyphicon-home icon" title="Home"></span>
                    </a>
                </div>
                @if (Session["UserFullname"] != null)
                {
                    <a href="@Url.Action("Friends", "Friend")">
                        <div class="btn-group" id="pastebook-nav-bar-friends">
                            <span class="glyphicon glyphicon-user icon friends" title="Friends"></span>
                        </div>
                    </a>
                        <div class="btn-group" id="pastebook-nav-bar-notification">
                            @{Html.RenderAction("GetNotifications", "Notification");}
                        </div>

                        <div class="btn-group">
                            <span id="user-option">
                                @Html.ActionLink(Session["UserFullname"].ToString(), "UserProfile", "Profile", new { username = Session["Username"].ToString() }, new { @id = "user-option" })
                            </span>
                        </div>

                        <div class="btn-group" id="pastebook-nav-bar-settings">
                            <span class="glyphicon glyphicon-cog icon" id="pastebook-settings" data-toggle="dropdown" title="Settings"></span>

                            <ul class="dropdown-menu" aria-labelledby="pastebook-settings">
                                <li class="profile-listitem">@Html.ActionLink("Update Email", "UpdateEmail", "Profile")</li>
                                <li class="profile-listitem">@Html.ActionLink("Change Password", "ChangePassword", "Profile")</li>
                                <li class="profile-listitem">@Html.ActionLink("Update Information", "UpdateInformation", "Profile")</li>
                            </ul>
                        </div>

                        <a href="@Url.Action("Logout", "Pastebook")">
                            <div class="btn-group" title="Logout">
                                <span id="logout">Logout</span>
                            </div>
                        </a>
                }
        </div>
        }
    </div>
</div>


