@model Pastebook.Models.PostViewModel

@foreach (var post in Model.ListOfPost)
{
    <div class="col-md-12">
        <div class="pastebookPost container">
            <div class="post-header row">
                @if (post.POSTER_ID == post.PROFILE_OWNER_ID)
                {
                    <div class="col-md-11 post-text-header">
                        <label>
                            @Html.ActionLink(post.PASTEBOOK_USER.FIRST_NAME + " " + post.PASTEBOOK_USER.LAST_NAME, "UserProfile", "Pastebook", new { username = post.PASTEBOOK_USER.USER_NAME }, null)
                        </label>
                        <div class="date">@post.CREATED_DATE.ToString("MMMM dd, yyyy") at @post.CREATED_DATE.ToShortTimeString()</div>

                    </div>

                    <div class="dropdown col-md-1">
                        <div class="pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-post-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown-post-menu">
                                <li>
                                    @Html.ActionLink("View Post", "Posts", "Pastebook", new { postId = post.ID }, null)
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                else
                {
                    <div class="col-md-11">
                        <label>
                             @Html.ActionLink(post.PASTEBOOK_USER.FIRST_NAME + " " + post.PASTEBOOK_USER.LAST_NAME, "UserProfile", "Pastebook", new { username = post.PASTEBOOK_USER.USER_NAME }, null)
                             <span class="glyphicon glyphicon-play"></span>
                            @Html.ActionLink(post.PASTEBOOK_USER1.FIRST_NAME + " " + post.PASTEBOOK_USER1.LAST_NAME, "UserProfile", "Pastebook", new { username = post.PASTEBOOK_USER1.USER_NAME }, null)
                        </label>
                        <div class="date">@post.CREATED_DATE.ToString("MMMM dd, yyyy") at @post.CREATED_DATE.ToShortTimeString()</div>
                    </div>

                    <div class="dropdown col-md-1">
                        <div class="pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-post-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown-post-menu">
                                <li>@Html.ActionLink("View Post", "Posts", "Pastebook", new { postId = post.ID }, null)
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                
            </div>
            <div class="row">
                <div class="post-content col-md-12">
                    @post.CONTENT
                </div>
            </div>

            <div class="post-reaction-count clearfix">
                    @if (post.PASTEBOOK_LIKE.Count() > 0)
                    {
                        <span class="glyphicon glyphicon-thumbs-up like"></span>
                        if (post.PASTEBOOK_LIKE.Count() > 3)
                        {
                            <span class="post-like-count" data-toggle="modal" data-target=#@post.ID>
                                @post.PASTEBOOK_LIKE.Count()
                            </span>
                        }

                        else
                        {
                            foreach (var like in post.PASTEBOOK_LIKE)
                            {
                                if (like == post.PASTEBOOK_LIKE.Last())
                                {
                            <span class="post-like-count" data-toggle="modal" data-target=#@post.ID>
                                @like.PASTEBOOK_USER.FIRST_NAME @like.PASTEBOOK_USER.LAST_NAME
                            </span>
                        }

                        else
                        {
                            <span class="post-like-count" data-toggle="modal" data-target=#@post.ID>
                                @like.PASTEBOOK_USER.FIRST_NAME @like.PASTEBOOK_USER.LAST_NAME,
                            </span>
                        }
                            <div class="likeModal modal fade" role="dialog" id=@post.ID>
                                <div class="modal-dialog">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Liked by</h4>
                                        </div>
                                        <div class="modal-body">
                                            @foreach (var likedBy in post.PASTEBOOK_LIKE)
                                            {
                                                <div>
                                                    @Html.ActionLink(likedBy.PASTEBOOK_USER.FIRST_NAME + " " + likedBy.PASTEBOOK_USER.LAST_NAME, "UserProfile", "Pastebook", new { username = likedBy.PASTEBOOK_USER.USER_NAME }, null)
                                                </div>
                                            }
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            }
                        }
                    }

                    @if (post.PASTEBOOK_COMMENT.Count() > 0)
                    {
                        if (post.PASTEBOOK_COMMENT.Count() == 1)
                        {
                            <span class="pull-right"><a class="comment-count" data-value=@post.ID>@post.PASTEBOOK_COMMENT.Count() Comment</a></span>
                        }

                        else
                        {
                            <span class="pull-right"><a class="comment-count" data-value=@post.ID>@post.PASTEBOOK_COMMENT.Count() Comments</a></span>
                        }
                    }
            </div>

            <div class="post-reaction">
                @if (post.PASTEBOOK_LIKE.Any(x => x.LIKED_BY == (int)Session["UserId"]))
                {
                    <button type="button" class="btn post-reaction-unlike post-reaction-buttons" value=@post.PASTEBOOK_LIKE.Where(x => x.LIKED_BY == (int)Session["UserId"]).Where(x=>x.POST_ID == post.ID).FirstOrDefault().ID><span>Unlike</span></button>
                }

                else
                {
                    <button type="button" class="btn post-reaction-like post-reaction-buttons" value=@post.ID><span>Like</span></button>
                }

                <button type="button" class="btn post-reaction-comment post-reaction-buttons" value=@post.ID><span class="glyphicon glyphicon-comment"></span></button>
            </div>

            <div class="post-comments" value=@post.ID>
                @foreach (var commentatorsComment in post.PASTEBOOK_COMMENT)
                {
                    <div class="post-comment">
                        <div class="post-comment-header">
                            <span><label>
                                      @Html.ActionLink(commentatorsComment.PASTEBOOK_USER.FIRST_NAME + " " + commentatorsComment.PASTEBOOK_USER.LAST_NAME, "UserProfile", "Pastebook", new { username = commentatorsComment.PASTEBOOK_USER.USER_NAME }, null)
                            </label></span> @commentatorsComment.CONTENT
                        </div>
                        <div class="post-comment-content">
                        </div>
                        <p class="date">@commentatorsComment.DATE_CREATED.ToString("MMMM dd, yyyy") at @commentatorsComment.DATE_CREATED.ToShortTimeString()</p>
                    </div>
                }
                <div class="write-comment clearfix">
                    <textarea rows="2" cols="20" class="textArea-comment col-md-12" value=@post.ID placeholder="Write comment.."></textarea>
                    <button type="button" class="btn pull-right" id="btnComment" value=@post.ID>Add Comment</button>
                </div>
            </div>
        </div>
    </div>
}

