@model Pastebook.Models.ProfileViewModel

@if (Model.User.ID == (int)Session["UserId"])
{
    <span class="pull-right" id="edit-icon"><span class="glyphicon glyphicon-edit"></span></span>
    <span class="pull-right" id="edit-profile-choice"><input type="button" id="saveButton" value="Save" class="btn btn-primary" />  <input type="button" id="cancelEditButton" value="Cancel" class="btn btn-danger"></span>

}
<h3>
    Introduction
</h3>
<span class="viewmode">
    @if (Model.User.ID == (int)Session["UserId"])
    {
        if (Model.User.ABOUT_ME != null)
        {
        <span class="pre">@Html.DisplayFor(model => model.User.ABOUT_ME, Model.User.ABOUT_ME)</span>
        }

        else
        {
        <a data-value=@Model.User.ID>+ Describe who you are</a>
        }
    }
</span>
<span class="editmode">
    @Html.TextAreaFor(model => model.User.ABOUT_ME, new { @id = "about-me", rows = "10", cols = "47", placeholder = "Describe who you are" })

</span>
<hr>

<h3>
    Personal Information
</h3>

<div id="profile-user-gender">
    @Html.LabelFor(model => model.User.GENDER):
        @if (Model.User.GENDER == "M")
        {
            <span>Male</span>
        }

        else if (Model.User.GENDER == "F")
        {
            <span>Female</span>
        }

        else
        {
            <span>Unspecified</span>
        }
</div>

<div id="profile-user-country">

    @Html.LabelFor(model => model.User.COUNTRY_ID):
    @Html.DisplayFor(model => model.CountryName, Model.CountryName)
   
</div>

<div id="profile-user-birthday">
    @Html.LabelFor(model => model.User.BIRTHDAY):
    @Model.User.BIRTHDAY.ToString("MMMM dd, yyyy")
</div>

<hr>

<h3>
    Contact Information
</h3>

<div id="profile-user-contactnumber">
    @Html.LabelFor(model => model.User.MOBILE_NO):
    @Html.DisplayFor(model => model.User.MOBILE_NO, Model.User.MOBILE_NO)
</div>

<div id="profile-user-email">
    @Html.LabelFor(model => model.User.EMAIL_ADDRESS):
    @Html.DisplayFor(model => model.User.EMAIL_ADDRESS, Model.User.EMAIL_ADDRESS)
</div>

<hr>

<h3>
    Pastebook Information
</h3>

<div id="profile-user-contactnumber">
    @Html.LabelFor(model => model.User.DATE_CREATED):
    @Model.User.DATE_CREATED.ToString("MMMM dd, yyyy")
</div>

