@model Pastebook.Models.ProfileViewModel

@if (Model.User.ID == (int)Session["UserId"])
{
    <span class="pull-right" id="edit-icon"><span class="glyphicon glyphicon-edit"></span></span>
    <span class="pull-right" id="edit-profile-choice"><button type="button" id="saveButton" class="btn btn-xs">Save</button> <button type="button" id="cancelEditButton" class="btn btn-xs">Cancel</button></span>

}
<span class="profile-details-header">
    Introduction
</span>
<span class="viewmode">
    @if (Model.User.ID == (int)Session["UserId"])
    {
        if (Model.User.ABOUT_ME != null)
        {
        <span class="pre">@Html.DisplayFor(model => model.User.ABOUT_ME, Model.User.ABOUT_ME)</span>
        }

        else
        {
        <a data-value=@Model.User.ID>+ Describe who you are</a>
        }
    }
</span>
<span class="editmode">
    @Html.TextAreaFor(model => model.User.ABOUT_ME, new { @id = "about-me", rows = "10", cols = "47", placeholder = "Describe who you are" })

</span>
<hr>

<span class="profile-details-header">
    Personal Information
</span>

<div id="profile-user-gender">
    @Html.LabelFor(model => model.User.GENDER):
        @if (Model.User.GENDER == "M")
        {
            <span>Male</span>
        }

        else if (Model.User.GENDER == "F")
        {
            <span>Female</span>
        }

        else
        {
            <span>Unspecified</span>
        }
</div>

@if(!Equals(Model.User.COUNTRY_ID, null))
{ 
<div id="profile-user-country">

    @Html.LabelFor(model => model.User.COUNTRY_ID):
    @Html.DisplayFor(model => model.CountryName, Model.CountryName)
   
</div>
}
<div id="profile-user-birthday">
    @Html.LabelFor(model => model.User.BIRTHDAY):
    @Model.User.BIRTHDAY.ToString("MMMM dd, yyyy")
</div>

<hr>

<span class="profile-details-header">
    Contact Information
</span>

@if (!Equals(Model.User.MOBILE_NO, null))
{
<div id="profile-user-contactnumber">
    @Html.LabelFor(model => model.User.MOBILE_NO):
    @Html.DisplayFor(model => model.User.MOBILE_NO, Model.User.MOBILE_NO)
</div>
}
<div id="profile-user-email">
    @Html.LabelFor(model => model.User.EMAIL_ADDRESS):
    @Html.DisplayFor(model => model.User.EMAIL_ADDRESS, Model.User.EMAIL_ADDRESS)
</div>

<hr>

<span class="profile-details-header">
    Pastebook Information
</span>

<div id="profile-user-date-created">
    @Html.LabelFor(model => model.User.DATE_CREATED):
    @Model.User.DATE_CREATED.ToString("MMMM dd, yyyy")
</div>

