@model Pastebook.Models.EditProfileViewModel


@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post))
{
<div class="form-horizontal container"> 
    <div class="col-md-offset-2 col-md-8" id="edit-profile">
    <h4>Change Password</h4>
    <hr />
    <h4>Fill up the required fields(*).</h4>
        <div id="change-password" class="container">
                <div class="form-group">
                    <span class="col-md-4"><span class="glyphicon glyphicon-lock"></span> New Password* </span>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "text-line", placeholder = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <span class="col-md-4"><span class="glyphicon glyphicon-lock"></span> Confirm Password*</span>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "text-line", placeholder = "re-enter password" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <span class="col-md-4"><span class="glyphicon glyphicon-lock"></span> Current Password*</span>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "text-line", placeholder = "enter current password" } })
                        @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="pull-right ">
                        <input type="submit" value="Change Password" class="btn btn-default" />
                        <input type="button" value="Cancel" class="btn btn-default" id="btnCancel" />
                    </div>
                </div>
            </div>
    </div>
</div>
}
