@model PastebookEF.PASTEBOOK_USER

<div class="container" id="newsfeed">
    <div class="row">
        <div class="col-md-4" id="user-profile">
            @if (Model.PROFILE_PIC == null)
            {
                <img src="~/Content/Images/pastebook-default.png" id="prof-pic" alt=@Model.FIRST_NAME @Model.LAST_NAME>
            }

            else
            {
                var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <img src=@imgSrc id="prof-pic" alt=@Model.FIRST_NAME @Model.LAST_NAME>
            }

            <div class="text-center">
                <div class="user-fullname">
                    @Html.ActionLink(Model.FIRST_NAME + " " + Model.LAST_NAME, "Index", "Pastebook", new { username = Session["Username"].ToString() }, null)
                </div>

                <div>
                    @Html.ActionLink("View Friends", "Friends", "Pastebook")
                </div>

            </div>
        </div>
        <div class="col-md-8">

            <div id="writePost">
                <div id="writePost-header">
                    <span class="glyphicon glyphicon-pencil"></span>Status
                </div>

                <textarea rows="5" cols="70" id="textAreaPost" placeholder="What's on your mind?" class="col-md-12"></textarea>
                    <div class="clearfix"><button type="button" value=@Model.ID class="btn pull-right" id="btnPost"/>Post</div>
            </div>
            <div id="newsfeedPost">
                @{Html.RenderAction("GetNewsfeedPosts", "Post", new { id = Model.ID });}
            </div>

            <div id="friend-list" class="container">
                <div>
                    <a id="backToTimeline">Back To Timeline</a>
                </div>
                @{Html.RenderAction("GetFriendList", "Pastebook", new { id = Model.ID });}
            </div>

        </div>
    </div>
</div>

@section scripts{
    
    <script>
        var createPostURL = '@Url.Action("CreatePost", "Post")'
        var addLikeURL = '@Url.Action("AddLike", "Reaction")'
        var addCommentURL = '@Url.Action("AddComment", "Reaction")'
        var addNotificationURL = '@Url.Action("AddNotification", "Reaction")'
        var getNewsfeedPostsURL = '@Url.Action("GetNewsfeedPosts", "Post", new { id = Model.ID })'
        var getFriendRequestsURL = '@Url.Action("GetFriendRequests", "Reaction")';
        var acceptFriendURL = '@Url.Action("AcceptFriend", "Reaction")'
        var searchURL = '@Url.Action("Search", "Pastebook")';
    </script>

    <script src="~/Scripts/PastebookScripts/newsfeedScript.js"> </script>
}

