@model IEnumerable<PastebookEF.NOTIFICATION>

@{
    ViewBag.Title = "Notifications";
}

<div class="container">
    <div class="row">
        <div id="notification-header">
            <h1>Notifications</h1>
        </div>
            @foreach (var notification in Model)
            {
                <div class="notification-notification-items notification-color">
                    @if (notification.NOTIF_TYPE == "L")
                    {
                        <a href="@Url.Action("Posts", "Post", new { postId = notification.POST_ID })">
                            <div>   
                                <span>@notification.USER1.FIRST_NAME @notification.USER1.LAST_NAME liked a post you posted.</span>
                            </div>
                        </a>
                    }

                    @if (notification.NOTIF_TYPE == "C")
                    {
                        <a href="@Url.Action("Posts", "Post", new { postId = notification.POST_ID })">
                            <div>   
                                <span>@notification.USER1.FIRST_NAME @notification.USER1.LAST_NAME commented on a post you posted.</span>
                            </div>
                        </a>
                    }


                    @if (notification.NOTIF_TYPE == "F")
                    {
                        <a href="@Url.Action("UserProfile", "Profile", new { username = notification.USER1.USER_NAME })">
                            <div>  
                                <span>@notification.USER1.FIRST_NAME @notification.USER1.LAST_NAME sent you a friend request.</span>
                            </div>
                        </a>
                    }
                </div>
            }
    </div>
</div>
