@model Pastebook.Models.ProfileViewModel

<div id="profile">
    <div class="container">
        <div class="row">
            <div id="profile-header" class="text-center col-md-12">
                <div id="profile-profile-picture">
                    <img src="~/Content/Images/pastebook-default.png" id="profile-prof-pic" class="img-circle" alt="Profile Picture">
                </div>

                <div>
                    <div id="profile-fullname">
                        @Html.ActionLink(Model.User.FIRST_NAME + " " + Model.User.LAST_NAME, "Profile", "Pastebook", new { id = (int)Session["UserId"] }, null)
                    </div>
                    <div id="profile-username">
                        (@Model.User.USER_NAME)
                    </div>

                    <div id="interactButtons">
                        @{Html.RenderAction("GetInteractButtons", "Reaction", new { profileViewModel = @Model });}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="profile-content">
                <div class="col-md-4" id="profile-user-details">
                    <h3>
                        Introduction
                    </h3>
                    @if (Model.User.ABOUT_ME != null)
                    {
                    @Html.DisplayFor(model => model.User.ABOUT_ME, Model.User.ABOUT_ME)
                    }

                    else
                    {
                        <a data-value=@Model.User.ID>+ Describe who you are</a>
                    }

                    <hr>

                    <h3>
                        Personal Information
                    </h3>

                    <div id="profile-user-gender">
                        @Html.LabelFor(model=>model.User.GENDER):
                        @if (Model.User.GENDER == "M")
                        {
                            <span>Male</span>
                        }

                        else if (Model.User.GENDER == "F")
                        {
                            <span>Female</span>
                        }

                        else
                        {
                            <span>Unspecified</span>
                        }
                    </div>

                    <div id="profile-user-country">
                        @Html.LabelFor(model => model.User.COUNTRY_ID):
                        @Html.DisplayFor(model => model.CountryName, Model.CountryName)
                    </div>

                    <div id="profile-user-birthday">
                        @Html.LabelFor(model => model.User.BIRTHDAY):
                        @Model.User.BIRTHDAY.ToString("MMMM dd, yyyy")
                    </div>

                    <hr>

                    <h3>
                        Contact Information
                    </h3>

                    <div id="profile-user-contactnumber">
                        @Html.LabelFor(model=>model.User.MOBILE_NO):
                        @Html.DisplayFor(model => model.User.MOBILE_NO, Model.User.MOBILE_NO)
                    </div>

                    <div id="profile-user-email">
                        @Html.LabelFor(model => model.User.EMAIL_ADDRESS):
                        @Html.DisplayFor(model => model.User.EMAIL_ADDRESS, Model.User.EMAIL_ADDRESS)
                    </div>

                    <hr>

                    <h3>
                        Pastebook Information
                    </h3>

                    <div id="profile-user-contactnumber">
                        @Html.LabelFor(model => model.User.DATE_CREATED):
                        @Model.User.DATE_CREATED.ToString("MMMM dd, yyyy")
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <div id="writePost" class="col-md-12">
                    <div id="writePost-header">
                        @if ((int)Session["UserId"] == Model.User.ID)
                        {
                        <span class="glyphicon glyphicon-pencil"></span><span>Status</span>
                        }

                        else
                        {
                        <span class="glyphicon glyphicon-pencil"></span><span>Write something on @Model.User.FIRST_NAME's wall</span>
                        }
                    </div>
                    @if ((int)Session["UserId"] == Model.User.ID)
                    {
                        <textarea rows="5" cols="70" id="textAreaPost" placeholder="What's on your mind?" class="col-md-12"></textarea>
                    }

                    else
                    {
                        <textarea rows="5" cols="70" id="textAreaPost" placeholder="Write something..." class="col-md-12"></textarea>
                    }
                      <div class="clearfix"><button type="button" value=@Model.User.ID class="btn pull-right" id="btnPost" />Post</div>
                </div>

                <div id="timelinePost">
                    @{Html.RenderAction("GetTimelinePosts", "Post", new { id = Model.User.ID });}
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var createPostURL = '@Url.Action("CreatePost", "Post")'
        var addLikeURL = '@Url.Action("AddLike", "Reaction")'
        var addCommentURL = '@Url.Action("AddComment", "Reaction")'
        var addNotificationURL = '@Url.Action("AddNotification", "Reaction")'
        var addFriendURL = '@Url.Action("AddFriend", "Reaction")'
        var acceptFriendURL = '@Url.Action("AcceptFriend", "Reaction")'
        var interactButtonsUrl = '@Url.Action("GetInteractButtons", "Reaction", new { id = Model.User.ID })'
        var getTimelinePostUrl = '@Url.Action("GetTimelinePosts", "Post", new { id = Model.User.ID })'
        var getFriendRequestsURL = '@Url.Action("GetFriendRequests", "Reaction")';

    </script>
    <script src="~/Scripts/PastebookScripts/profileScript.js"> </script>
}


