@model Pastebook.Models.NewsfeedViewModel

@foreach (var postWithPoster in Model.listOfPostsWithPoster)
{
    <div class="col-md-12">
        <div class="pastebookPost">
            <div class="post-header">
                <div><label>@postWithPoster.User.Firstname @postWithPoster.User.Lastname</label></div>
                @postWithPoster.Post.CreatedDate.ToString("MMMM dd, yyyy") at @postWithPoster.Post.CreatedDate.ToShortTimeString()
            </div>
            <div class="post-content">
                @postWithPoster.Post.Content
            </div>
            
            <div class="post-reaction-count">
            <span>
            @if (postWithPoster.ListOfLikes.Count > 0)
            {
                @postWithPoster.ListOfLikes.Count<span class="glyphicon glyphicon-heart"></span>
            }

            @if (postWithPoster.ListOfCommentsWithCommenters.Count > 0)
            {
                @postWithPoster.ListOfCommentsWithCommenters.Count<span class="glyphicon glyphicon-comment"></span>
            }
            </span>
            </div>

            <hr>
            <div class="post-reaction">
                @if (postWithPoster.ListOfLikes.Any(x=>x.LikedBy == (int)Session["UserId"]))
                {
                <button type="button" class="btn post-reaction-like post-reaction-buttons" value=@postWithPoster.Post.Id disabled><span class="glyphicon glyphicon-heart"></span></button>
                }

                else
                {
                <button type="button" class="btn post-reaction-like post-reaction-buttons" value=@postWithPoster.Post.Id><span class="glyphicon glyphicon-heart"></span></button>
                }

                <button type="button" class="btn post-reaction-comment post-reaction-buttons" value=@postWithPoster.Post.Id><span class="glyphicon glyphicon-comment"></span></button>
            </div>

            @foreach (var commentersComment in postWithPoster.ListOfCommentsWithCommenters)
            {
                <hr>
                <div class="post-comment">
                    <div class="post-comment-header">
                        <span><label>@commentersComment.User.Firstname @commentersComment.User.Lastname</label></span>
                    </div>
                    <div class="post-comment-content">
                        @commentersComment.Comment.Content
                    </div>
                    @commentersComment.Comment.DateCreated.ToString("MMMM dd, yyyy") at @commentersComment.Comment.DateCreated.ToShortTimeString()
                </div>
            }
        </div>
    </div>
}

