@model Pastebook.Models.UserModel

<div class="container" id="newsfeed">
    <div class="row">
        <div class="col-md-4" id="user-profile">
            <img src="~/Content/Images/pastebook-default.png" id ="prof-pic" class="img-circle" alt="Profile Picture">
            <div class="text-center">
            @Html.DisplayFor(m => m.Firstname)
            @Html.DisplayFor(m => m.Lastname)
            </div>
        </div>
        <div class="col-md-8">
            <div id="writePost">
            <textarea rows="5" cols="70" id="textAreaPost" placeholder="What's on your mind?" class="col-md-12"></textarea>
                <div class="clearfix"><input type="button" value="Post" class="btn pull-right" id="btnPost"/></div>
            </div>

            <div id="newsfeedPost">
                @{Html.RenderAction("GetPosts", "Post");}
            </div>
        </div>
    </div>
</div>


@section modal{
<div id="commentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Comment</h4>
            </div>
            <div class="modal-body">
                <textarea rows="5" cols="70" id="textAreaComment" placeholder="Write comment.." class="col-md-12"></textarea>
                
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn" id="btnComment">Add Comment</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>
}

@section scripts{
    
    <script>
        var createPostURL = '@Url.Action("CreatePost","Post")'
        var addLikeURL = '@Url.Action("AddLike","Reaction")'
        var addCommentURL = '@Url.Action("AddComment","Reaction")'
        var addNotificationURL = '@Url.Action("AddNotification", "Notification")'

        $(document).ready(function () {
            $(document).delegate("#btnPost","click", function () {
                var data = {
                    content: $('#textAreaPost').val(),
                }

                $.ajax({
                    url: createPostURL,
                    data: data,
                    type: 'POST',
                    success: function (data) {
                        $.ajax({
                            url: '@Url.Action("GetPosts","Post")',
                            dataType: "html",
                            success: function (result)
                            {
                                $("#newsfeedPost").html(result);
                                $('#textAreaPost').val('')
                            }
                        });
                    },

                    error: function () {
                        alert('Something went wrong.')
                    }
                })

            });


            $(document).delegate(".post-reaction-like", "click", function () {
                var data = {
                    postId: this.value,
                }
                $.ajax({
                    url: addLikeURL,
                    data: data,
                    type: 'POST',
                    success: function (data) {
                        $.ajax({
                            url: '@Url.Action("GetPosts", "Post")',
                            dataType: "html",
                            success: function (result) {
                                $("#newsfeedPost").html(result);
                            }
                        });
                    },

                    error: function () {
                        alert('Something went wrong.')
                    }
                })

            });

            $(document).delegate("#btnComment", "click", function () {
                var data = {
                    postId: this.value,
                    content: $("#textAreaComment").val()
                }
                $.ajax({
                    url: addCommentURL,
                    data: data,
                    type: 'POST',
                    success: function (data) {
                        $("#textAreaComment").val('')
                        $('#commentModal').modal('hide');

                        $.ajax({
                            url: '@Url.Action("GetPosts", "Post")',
                            dataType: "html",
                            success: function (result) {
                                $("#newsfeedPost").html(result);
                            }
                        });
                    },

                    error: function () {
                        alert('Something went wrong.')
                    }
                })

            });

            $(document).delegate(".post-reaction-comment", "click", function () {
                $('#commentModal').modal('show');
                $('#btnComment').val(this.value);
            });
           
        });
    </script>
}

